/* ADD BUTTON */
div.addButton {
    height: 50px;
    width: 100%;
}

img.addButton {
    float: right;
    margin: 10px;
    background-color: #66bcd7;
    border-radius: 10px;
}

/* ITEMS */
div.item {
    width: 100%;
    height: 170px;
    border: 1px solid black;
    padding: 10px;
}

div.itemQuestion {
    width: 90%;
    height: 25px;
    float: left;
}
div.itemSolution {
    width: 90%;
    height: 25px;
    float: left;
}
div.itemWrongs {
    width: 90%;
    height: 25px;
    float: left;
}
div.itemCategory {
    width: 90%;
    height: 25px;
    float: left;
}

div.itemButtons {
    width: 50px;
    float: right;
    margin: 30px 5px 0;
}

img.itemButtons {
    margin: 5px;
    border-radius: 10px;
}

img.itemButtonDelete {
    background-color: red;
}

img.itemButtonModify {
    background-color: yellowgreen;
}
